.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 100px;
}

body {
  background-image: url(https://cdn.guidingtech.com/media/assets/WordPress-Import/2017/08/_1200x630_crop_center-center_82_none/276305-thewallpaper.jpg?mtime=1507904278);

  background-size: contain;
  height: 100vh;
  background-size: 100%;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
